
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #838383;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hud{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    background-color: rgb(252, 147, 120);
    border-bottom: 100px solid #aba8a8;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 10%;
    width: 700px;

}

.hiddenMove{
    display: none;
}
/* .movementCounterClass{
    color: red;
} */

.scoreDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* .scoreH2{
    
} */

.scoreCounterClass{
    color: red;
    
}

.starCounterClass{
    color: yellow;
}




.item0-0{
    grid-area: cerocero;
    width: 90px;
    height: 80px;
}
.item0-1{
    grid-area: cerouno;
    width: 90px;
    height: 80px;
}
.item0-2{
    grid-area: cerodos;
    width: 90px;
    height: 80px;
}
.item0-3{
    grid-area: cerotres;
    width: 90px;
    height: 80px;
}
.item0-4{
    grid-area: cerocuatro;
    width: 90px;
    height: 80px;
}


.item1-0{
    grid-area: unocero;
    width: 90px;
    height: 80px;
}
.item1-1{  
    grid-area: unouno;
    width: 90px;
    height: 80px;
}
.item1-2{  
    grid-area: unodos;
    width: 90px;
    height: 80px;
}
.item1-3{  
    grid-area: unotres;
    width: 90px;
    height: 80px;
}
.item1-4{  
    grid-area: unocuatro;
    width: 90px;
    height: 80px;
}


.item2-0{
    grid-area: doscero;
    width: 90px;
    height: 80px;
}
.item2-1{  
    grid-area: dosuno;
    width: 90px;
    height: 80px;
}
.item2-2{  
    grid-area: dosdos;
    width: 90px;
    height: 80px;
}
.item2-3{  
    grid-area: dostres;
    width: 90px;
    height: 80px;
}
.item2-4{  
    grid-area: doscuatro;
    width: 90px;
    height: 80px;
}


.item3-0{
    grid-area: trescero;
    width: 90px;
    height: 80px;
}
.item3-1{  
    grid-area: tresuno;
    width: 90px;
    height: 80px;
}
.item3-2{  
    grid-area: tresdos;
    width: 90px;
    height: 80px;
}
.item3-3{  
    grid-area: trestres;
    width: 90px;
    height: 80px;
}
.item3-4{  
    grid-area: trescuatro;
    width: 90px;
    height: 80px;
}


.item4-0{
    grid-area: cuatrocero;
    width: 90px;
    height: 80px;
}
.item4-1{  
    grid-area: cuatrouno;
    width: 90px;
    height: 80px;
}
.item4-2{  
    grid-area: cuatrodos;
    width: 90px;
    height: 80px;
}
.item4-3{  
    grid-area: cuatrotres;
    width: 90px;
    height: 80px;
}
.item4-4{  
    grid-area: cuatrocuatro;
    width: 90px;
    height: 80px;
}


#div-boardGame{
    background-color: #aba8a8;
    width: 700px;
    height: 80vh;
    display: grid;
    grid-template:
    [row1-start] "cerocero cerouno cerodos cerotres cerocuatro" 150px [row1-end]
    [row2-start] "unocero unouno unodos unotres unocuatro" 150px [row2-end]
    [row3-start] "doscero dosuno dosdos dostres doscuatro" 150px [row3-end]  
    [row4-start] "trescero tresuno tresdos trestres trescuatro" 150px [row4-end]  
    [row5-start] "cuatrocero cuatrouno cuatrodos cuatrotres cuatrocuatro" 150px [row5-end];  
    column-gap: 40px;
    row-gap: 10px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;

}







.spacesWindows{
    background-color: aquamarine;
    border: solid, 4px, black ;
    border-radius: 5px;
/*     width: 100px;
    height: 100px; */
}


.playerClass{
    background-color: blue;
    /* background-image: url('./img/player2.gif');
    background-size: cover; 
    background-position: center center; */
}

.enemyClass{
    background-color: rgba(56, 29, 29, 0.681);
    background-image: url('./img/transparentfire.gif');
    background-size: cover; 
    background-position: center center;
}

.peopleClass{
    background-color: rgb(143, 42, 42);
    background-image: url('./img/FireVictim2.gif');
    background-size: cover; 
    background-position: center center;
}

.vipClass{
    background-color: rgba(255, 255, 255, 0.214);
    background-image: url('./img/victim3.gif');
    background-size: cover; 
    background-position: center center;
}

.nothingClass{
    background-color: black;
}

.lightOnClass{
    background-color: white;
}


.deadClass{
    background-color: rgba(255, 255, 255, 0.244);
    background-image: url('./img/skull.gif');
    background-size: cover; 
    background-position: center center;
}

.gameOverBanner{
    background-image: url(./img/GameOver.gif); 
    background-size: cover; 
    background-position: center center;
    position: absolute;
    margin-top: 30px;
    width: 90vw;
    height: 80vh;
    
}

.hiddenStuff{
    display: none
}

.thunderBanner{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.thunderBanner:hover{
    background-image: url(./img/Lightning.gif); 
    background-size: cover; 
    background-position: center center;
    position: absolute;
    width: 700px;
    height: 700px;
}
