
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #838383;
    display: flex;
    align-items: center;
    justify-content: center;
}




.item0-0{
    grid-area: cerocero;
    width: 80px;
    height: 80px;
}
.item0-1{
    grid-area: cerouno;
    width: 80px;
    height: 80px;
}
.item0-2{
    grid-area: cerodos;
    width: 80px;
    height: 80px;
}
.item0-3{
    grid-area: cerotres;
    width: 80px;
    height: 80px;
}
.item0-4{
    grid-area: cerocuatro;
    width: 80px;
    height: 80px;
}


.item1-0{
    grid-area: unocero;
    width: 80px;
    height: 80px;
}
.item1-1{  
    grid-area: unouno;
    width: 80px;
    height: 80px;
}
.item1-2{  
    grid-area: unodos;
    width: 80px;
    height: 80px;
}
.item1-3{  
    grid-area: unotres;
    width: 80px;
    height: 80px;
}
.item1-4{  
    grid-area: unocuatro;
    width: 80px;
    height: 80px;
}


.item2-0{
    grid-area: doscero;
    width: 80px;
    height: 80px;
}
.item2-1{  
    grid-area: dosuno;
    width: 80px;
    height: 80px;
}
.item2-2{  
    grid-area: dosdos;
    width: 80px;
    height: 80px;
}
.item2-3{  
    grid-area: dostres;
    width: 80px;
    height: 80px;
}
.item2-4{  
    grid-area: doscuatro;
    width: 80px;
    height: 80px;
}


.item3-0{
    grid-area: trescero;
    width: 80px;
    height: 80px;
}
.item3-1{  
    grid-area: tresuno;
    width: 80px;
    height: 80px;
}
.item3-2{  
    grid-area: tresdos;
    width: 80px;
    height: 80px;
}
.item3-3{  
    grid-area: trestres;
    width: 80px;
    height: 80px;
}
.item3-4{  
    grid-area: trescuatro;
    width: 80px;
    height: 80px;
}


.item4-0{
    grid-area: cuatrocero;
    width: 80px;
    height: 80px;
}
.item4-1{  
    grid-area: cuatrouno;
    width: 80px;
    height: 80px;
}
.item4-2{  
    grid-area: cuatrodos;
    width: 80px;
    height: 80px;
}
.item4-3{  
    grid-area: cuatrotres;
    width: 80px;
    height: 80px;
}
.item4-4{  
    grid-area: cuatrocuatro;
    width: 80px;
    height: 80px;
}


#div-boardGame{
    background-color: #aba8a8;
    width: 95vw;
    height: 95vh;
    display: grid;
    grid-template:
    [row1-start] "cerocero cerouno cerodos cerotres cerocuatro" 150px [row1-end]
    [row2-start] "unocero unouno unodos unotres unocuatro" 150px [row2-end]
    [row3-start] "doscero dosuno dosdos dostres doscuatro" 150px [row3-end]  
    [row4-start] "trescero tresuno tresdos trestres trescuatro" 150px [row4-end]  
    [row5-start] "cuatrocero cuatrouno cuatrodos cuatrotres cuatrocuatro" 150px [row5-end];  
    column-gap: 50px;
    row-gap: 50px;
    justify-items: center;
    justify-content: center; 

}







.spacesWindows{
    background-color: aquamarine;
    border: solid, 4px, black ;
    border-radius: 5px;
/*     width: 100px;
    height: 100px; */
}


.playerClass{
    background-color: blue;
}

.enemyClass{
    background-color: red;
}

.peopleClass{
    background-color: green;
}

.nothingClass{
    background-color: black;
}



